/* CSS reset */
html, body, div, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set box-sizing to border-box for all elements */
*, *::before, *::after {
  box-sizing: border-box;
}

ul li {
  list-style-type: circle;
}

ol li {
  list-style-type: upper-roman;
}
