/* CSS reset */
html, body, div, h1, h2, h3, p, li {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding-left: 2rem;
  white-space: pre-line;
}

.navPages {
  cursor: pointer;
}

.sub-item {
  font-size: .75rem;
  color: #667085;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

ul.pagesContainer li {
  list-style-type: none;
}

table td {
  padding: 1rem;
}

pre {
  position: relative;
}

pre img {
  max-width: 100%;
  height: auto;
  width: auto;
}

/* Set box-sizing to border-box for all elements */
*, *::before, *::after {
  box-sizing: border-box;
}

.white-container {
  background-color: white !important;
}

@font-face {
  font-family: 'Abhaya Libre';
  src: url('https://fonts.cdnfonts.com/s/16309/AbhayaLibre-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
