/* CSS reset */
html, body, div, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.navPages {
  cursor: pointer;
}

.sub-item {
  font-size: .75rem;
  color: #667085;
}

/* Set box-sizing to border-box for all elements */
/* *, *::before, *::after {
  box-sizing: border-box;
} */
